/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter / 2,$columns-gutter / 2);
    @include clearfix;

    @include mq(bp1) {
        @include padding-lr($columns-gutter,$columns-gutter);
        //@include padding-lr($columns-gutter * 2,$columns-gutter * 2);
        //@include padding-tb($alpha-leading * 2,$alpha-leading);
    }
}

.c-row--lg {
    @include mq(bp3) {
        @include padding-tb($alpha-line-height * 2,$alpha-line-height * 1.25);
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }
}

.c-row--xl {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }

    @include mq(bp6) {
        @include padding-lr($columns-gutter * 6,$columns-gutter * 6);
        @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
    }
}

.c-row--alpha {
    background-color: palette(color-neutral,xxxxx-light);
}

.c-row--beta {
    //background-color: palette(color-neutral,xx-dark);
    color: palette(color-neutral,xxx-light);
}

.c-row--featured {
    z-index: 10;
    @include margin-top($alpha-leading * -1);
}

.c-row--header {
    z-index: 20;
    //background-color: palette(color-neutral);
}

.c-row--clear {
    padding: 0;
}

.c-row--clear-top {
    padding-top: 0;
}

.c-row--clear-bottom {
    padding-bottom: 0;
}
