/*
    Components: Media
*/

.c-media {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(palette(color-neutral,xxx-dark),.1);
    transition: all $animation-duration-beta $animation-easing-alpha;
    @include margin-bottom($alpha-leading);

    &:hover {
        transform: scale(1.015) translateY(-4px);
        box-shadow: 0 10px 20px rgba(palette(color-neutral,xxx-dark),.075);
    }
}

    .c-media__body {
        background-color: palette(color-neutral,xxxxx-light);
        display: flex;
        flex-direction: column;
        flex: 1;
        @include padding-tb($alpha-leading * 1,$alpha-leading * 0);
        @include padding-lr($columns-gutter);

        @include mq(bp2) {
            @include padding-tb($beta-leading,$alpha-leading);
            @include padding-lr($columns-gutter * 2);
        }
    }

    .c-media__content {
        margin-top: auto;
    }

    .c-media__image-link {
        display: block;
    }

    .c-media__image {
        background-size: cover;
        background-position: 50% 50%;
        height: $alpha-line-height * 12rem;
    }
