/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    width: 100%;
    display: none;

    @include mq(bp4) {
        display: block;
        width: auto;
    }

    &.is-visible {
        display: block;
    }
}

    .c-nav-main__list {
        @include mq(bp4) {
            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .c-nav-main__item {
        @include mq(bp4) {
            & + & {
                @include margin-left($columns-gutter);
            }
        }

        @include mq(bp5) {
            & + & {
                @include margin-left($columns-gutter * 2);
            }
        }
    }

    .c-nav-main__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;
        font-weight: $beta-font-weight;
        @include text-dimensions($alpha-font-size,1);

        &:hover,
        .is-selected & {
            color: palette(color-alpha,dark);
        }
    }

.c-nav-main-trigger {
    user-select: none;
    position: absolute;
    top: $alpha-leading * 1rem;
    right: $columns-gutter * 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: palette(color-neutral,dark);
    background-color: transparent;
    //background-color: palette(color-neutral,light);
    border: 0;
    outline: 0;
    padding: 0;
    width: 1.5em;
    height: 1.5em;

    &.is-active {
        color: palette(color-neutral,dark);
        //background-color: palette(color-alpha);
    }

    @include mq(bp2) {
        top: $alpha-leading * 2rem;
        right: $columns-gutter * 2rem;
    }

    @include mq(bp4) {
        display: none;
    }
}

    .c-nav-main-trigger__symbol {
        width: 1.5em;
        height: 1.5em;
    }

// top navigation

.c-nav-top {
    margin-bottom: 0;
}

    .c-nav-top__list {
        margin-bottom: 0;


            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
    }

    .c-nav-top__item {

            & + & {
                @include margin-left($columns-gutter);
            }

    }

    .c-nav-top__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;
        @include text-dimensions(ms(-1),1);

        &:hover,
        .is-selected & {
            color: palette(color-alpha,dark);
        }
    }

// language navigation

.c-nav-lang {
    margin-bottom: 0;
}

    .c-nav-lang__list {
        margin-bottom: 0;

        @include mq(bp3) {
            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .c-nav-lang__item {
        @include mq(bp3) {
            & + & {
                @include margin-left($columns-gutter);
            }
        }
    }

    .c-nav-lang__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;
        //text-transform: uppercase;
        @include text-dimensions(ms(-1),1);

        &:hover,
        .is-selected & {
            color: palette(color-alpha,dark);
        }
    }
