/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    width: 100%;
    display: none;

    @include mq(bp3) {
        display: block;
        width: auto;
    }

    &.is-visible {
        display: block;
    }
}

    .c-nav-main__list {
        @include mq(bp3) {
            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .c-nav-main__item {
        @include mq(bp3) {
            & + & {
                @include margin-left($columns-gutter * 2);
            }
        }
    }

    .c-nav-main__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;
        font-weight: $beta-font-weight;
        @include text-dimensions($alpha-font-size,1);

        &:hover,
        .is-selected & {
            color: palette(color-alpha,dark);
        }
    }

.c-nav-main-trigger {
    user-select: none;
    position: absolute;
    top: 2em;
    right: 1em;
    display: block;
    color: palette(color-alpha);
    background-color: palette(color-neutral,x-light);
    border: 1px solid palette(color-alpha);
    outline: 0;
    border-radius: $radius;

    &.is-active {
        color: palette(color-neutral,x-light);
        background-color: palette(color-alpha);
    }

    @include mq(bp3) {
        display: none;
    }
}

// top navigation

.c-nav-top {
    width: 100%;
    display: none;

    @include mq(bp3) {
        display: block;
        width: auto;
    }

    &.is-visible {
        display: block;
    }
}

    .c-nav-top__list {
        margin-bottom: 0;

        @include mq(bp3) {
            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .c-nav-top__item {
        @include mq(bp3) {
            & + & {
                @include margin-left($columns-gutter);
            }
        }
    }

    .c-nav-top__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;
        @include text-dimensions($ms-1,1);

        &:hover,
        .is-selected & {
            color: palette(color-alpha,dark);
        }
    }

// language navigation

.c-nav-lang {
    width: 100%;
    display: none;
    margin-bottom: 0;

    @include mq(bp3) {
        display: block;
        width: auto;
    }

    &.is-visible {
        display: block;
    }
}

    .c-nav-lang__list {
        margin-bottom: 0;

        @include mq(bp3) {
            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .c-nav-lang__item {
        @include mq(bp3) {
            & + & {
                @include margin-left($columns-gutter);
            }
        }
    }

    .c-nav-lang__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;
        //text-transform: uppercase;
        @include text-dimensions($ms-1,1);

        &:hover,
        .is-selected & {
            color: palette(color-alpha,dark);
        }
    }
