/*
    Components: Buttons
    ---
    Button styles, sizes, etc.
*/

/**
 *  1. The user agent may consider touches that begin on the element
 *     only for the purposes of scrolling and continuous zooming.
 *  2. Reset unusual Firefox-on-Android default style.
 *     see https://github.com/necolas/normalize.css/issues/214
 *  3. Sequences of whitespace will collapse into a single whitespace.
 *     Text will never wrap to the next line.
 *     The text continues on the same line until a <br> tag is encountered.
 *  4. Controls the application of anti-aliasing when fonts are rendered.
 *     Webkit & Firefox implements.
 *     Works only on Mac OS X platform.
 */

.c-button {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation; /* [1] */
    background-image: none; /* [2] */
    white-space: nowrap; /* [3] */
    border-radius: $radius;
    //border-style: solid;
    border-width: 0;
    transition-duration: $animation-duration-alpha;
    transition-timing-function: $animation-easing-alpha;
    transition-property: background, color, border, transform;
    outline: none;
    //line-height: normal;
    appearance: none;
    box-shadow: none;
    -webkit-font-smoothing: antialiased; /* [4] */
    -moz-osx-font-smoothing: grayscale; /* [4] */
    font-weight: $gamma-font-weight;
    @include uppercase;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        outline: 0;
        background-image: none;
    }

    &[disabled],
    &[disabled]:hover {
        background: palette(color-neutral,light);
        color: palette(color-neutral);
        border: palette(color-neutral);
    }
}

// Button display

.c-button--block {
    display: block;
    width: 100%;
}

.c-button--float-left {
    display: block;
    float: left;

    .c-button-group > & {
        @include margin-right(1);
    }
}

.c-button--float-right {
    display: block;
    float: right;

    .c-button-group > & {
        @include margin-right(1);
    }
}

// Button sizes

.c-button--sm {
    border-radius: $radius;
    @include padding-lr($columns-gutter,$columns-gutter);
    @include input-dimensions($ms-2,1,0,.5,.5);
}

.c-button--md {
    border-radius: $radius-md;
    @include padding-lr($columns-gutter * 1.3,$columns-gutter * 1.2);
    @include input-dimensions($ms-1,1,0,.8,.7);
}

.c-button--lg {
    border-radius: $radius-lg;
    @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    @include input-dimensions($ms-1,1,0,$alpha-leading * 1.05,$alpha-leading * 0.95);
}

// Button colors

.c-button--beta {
    background-color: palette(color-beta,light);
    border-color: palette(color-beta,light);

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-beta);
        color: palette(color-neutral,xxxxx-light);
    }

    &:active {
        background-color: palette(color-beta);
    }

}

.c-button--gamma {
    background-color: palette(color-gamma,light);
    border-color: palette(color-gamma,light);

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-gamma);
        color: palette(color-neutral,xxxxx-light);
    }

    &:active {
        background-color: palette(color-gamma);
    }
}

.c-button--delta {
    background-color: palette(color-delta,light);
    border-color: palette(color-delta,light);

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-delta);
        color: palette(color-neutral,xxxxx-light);
    }

    &:active {
        background-color: palette(color-delta);
    }
}

// Negative

.c-button--beta-negative {
    background-color: white;
    border-color: white;

    &,
    &:visited,
    &:hover {
        color: palette(color-beta,light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-beta,light);
        border-color: palette(color-beta,light);
        color: white;
    }

    &:active {
        background-color: palette(color-beta,light);
        border-color: palette(color-beta,light);
    }

}

.c-button--beta-ghost {
    background-color: white;
    box-shadow: inset 0 0 0 2px palette(color-beta,light);

    &,
    &:visited,
    &:hover {
        color: palette(color-beta,light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-beta,light);
        border-color: palette(color-beta,light);
        color: white;
    }

    &:active {
        background-color: palette(color-beta,light);
        border-color: palette(color-beta,light);
    }

}

.c-button--gamma-negative {
    background-color: white;
    border-color: white;

    &,
    &:visited,
    &:hover {
        color: palette(color-gamma,light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-gamma,light);
        border-color: palette(color-gamma,light);
        color: white;
        //color: palette(color-gamma,light,dark);
    }

    &:active {
        background-color: palette(color-gamma,light);
        border-color: palette(color-gamma,light);
    }
}

.c-button--delta-negative {
    background-color: white;
    border-color: white;

    &,
    &:visited,
    &:hover {
        color: palette(color-delta,light);
    }

    &:hover,
    &:focus {
        background-color: palette(color-delta,light);
        border-color: palette(color-delta,light);
        color: white;
    }

    &:active {
        background-color: palette(color-delta,light);
        border-color: palette(color-delta,light);
    }
}

// Gradient buttons

.c-button--gradient {
    background-size: 200% auto;

    &:hover,
    &:focus {
        background-position: right center;
    }
}

.c-button--gradient-1 {
    box-shadow: 0 5px 10px rgba(palette(color-beta),.2);

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-beta) ,xx-light) 0%, map-get(map-get($palettes,color-beta) ,light) 50%, map-get(map-get($palettes,color-beta) ,light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
        //color: darken(palette(color-beta),10%);
    }
}

.c-button--gradient-2 {
    box-shadow: 0 5px 15px rgba(palette(color-alpha),.3);

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-alpha) ,xx-light) 0%, map-get(map-get($palettes,color-alpha) ,light) 50%, map-get(map-get($palettes,color-alpha) ,light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
        //color: darken(palette(color-alpha),10%);
    }
}

.c-button--gradient-3 {
    box-shadow: 0 5px 10px rgba(palette(color-gamma),.2);

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-alpha) ,xx-light) 0%, map-get(map-get($palettes,color-gamma) ,light) 50%, map-get(map-get($palettes,color-gamma) ,light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
        //color: darken(palette(color-alpha),10%);
    }
}

.c-button--gradient-4 {
    box-shadow: 0 5px 10px rgba(palette(color-beta),.2);

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-delta) ,xx-light) 0%, map-get(map-get($palettes,color-beta) ,light) 50%, map-get(map-get($palettes,color-beta) ,light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-neutral,xxxxx-light);
        //color: darken(palette(color-alpha),10%);
    }
}

// Ghost gradient buttons

.c-button--gradient-ghost {
    background-size: 200% auto;
    position: relative;

    &:hover,
    &:focus {
        background-position: right center;
    }

    span {
        display: block;
        position: relative;
    }

    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: $radius-lg - 2;
        //z-index: -1;
    }
}

.c-button--gradient-ghost-1 {

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-beta) ,xx-light) 0%, map-get(map-get($palettes,color-beta) ,light) 50%, map-get(map-get($palettes,color-beta) ,xx-light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-beta);
    }

    span {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-beta) ,xx-light), map-get(map-get($palettes,color-beta) ,light));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.c-button--gradient-ghost-2 {

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-alpha) ,xx-light) 0%, map-get(map-get($palettes,color-alpha) ,light) 50%, map-get(map-get($palettes,color-alpha) ,xx-light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-alpha);
    }

    span {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-alpha) ,xx-light), map-get(map-get($palettes,color-alpha),light));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.c-button--gradient-ghost-3 {

    &,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-alpha) ,xx-light) 0%, map-get(map-get($palettes,color-gamma) ,light) 50%, map-get(map-get($palettes,color-alpha) ,xx-light) 100%);
    }

    &,
    &:visited,
    &:hover {
        color: palette(color-alpha);
    }

    span {
        background-image: linear-gradient(to bottom right, map-get(map-get($palettes,color-alpha) ,xx-light) 0%, map-get(map-get($palettes,color-gamma) ,light));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// rounded

.c-button--rounded {
    border-radius: 4rem;
}

// With box-shadow

.c-button--box-shadow {
    box-shadow: 0 5px 15px rgba(palette(color-neutral,xxx-dark),.1);
}


// effects

.c-button--scale {
    //&:hover,
    //&:focus {
    //    transform: scale(1.025);
    //}

    &:active {
        transform: scale(.975);
    }
}

// Modifiers

.c-button--postfix {
    border-radius: 0 $radius $radius 0;
}

// Button-group

.c-button-group {
    display: flex;
    flex-wrap: wrap;
    @include margin-lr($columns-gutter * -1);

    .c-button {
        @include margin-lr($columns-gutter);
    }
}
