//
//  Default settings
//  ---
//
//  Global
//  ---
//  Colors
//  Modular scale
//  Font settings
//  UI (border-radius, -width, -style)
//  Z-indexes
//  Breakpoints
//  Grid
//  Increments
//  Animations
//
//  Element settings
//  ---
//  Page
//  Typography
//  Images
//  Forms
//  Tables
//
//  Object settings
//  ---
//  Grid
//  Media
//
//  Utilities
//  ---
//  Debug
//

// ---
// Colors
// ---

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Base colors
$color-alpha                        : rgb(252,61,33) !default;
$color-beta                         : rgb(11,61,145) !default;

$color-error                        : #FF4136 !default;
$color-success                      : #2ECC40 !default;
$color-notice                       : #FF851B !default;

$color-neutral                      : hsl(hue($color-beta),7.5,50) !default;

// Palettes
$palettes: (
    color-neutral: (
        xxxxx-light                 : hsl(hue($color-neutral),saturation($color-neutral),100),
        xxxx-light                  : hsl(hue($color-neutral),saturation($color-neutral),97.5),
        xxx-light                   : hsl(hue($color-neutral),saturation($color-neutral),95),
        xx-light                    : hsl(hue($color-neutral),saturation($color-neutral),80),
        x-light                     : hsl(hue($color-neutral),saturation($color-neutral),70),
        light                       : hsl(hue($color-neutral),saturation($color-neutral),60),
        base                        : $color-neutral,
        dark                        : hsl(hue($color-neutral),saturation($color-neutral),40),
        x-dark                      : hsl(hue($color-neutral),saturation($color-neutral),30),
        xx-dark                     : hsl(hue($color-neutral),saturation($color-neutral),15),
        xxx-dark                    : hsl(hue($color-neutral),saturation($color-neutral),10),
        xxxx-dark                   : hsl(hue($color-neutral),saturation($color-neutral),5)
    ),
    color-alpha: (
        x-light                     : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha) + 20),
        light                       : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha) + 10),
        base                        : $color-alpha,
        dark                        : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha) - 10),
        x-dark                      : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha) - 20),
    ),
    color-beta: (
        x-light                     : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta) + 20),
        light                       : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta) + 10),
        base                        : $color-beta,
        dark                        : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta) - 10),
        x-dark                      : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta) - 20),
    ),
    color-error: (
        light                       : hsl(hue($color-error),70,60),
        base                        : $color-error,
        dark                        : hsl(hue($color-error),100,35),
    ),
    color-success: (
        light                       : hsl(hue($color-success),70,60),
        base                        : $color-success,
        dark                        : hsl(hue($color-success),100,35),
    ),
    color-notice: (
        light                       : hsl(hue($color-notice),70,60),
        base                        : $color-notice,
        dark                        : hsl(hue($color-notice),100,35),
    )
) !default;


// ---
// Modular scale
// ---

$modularscale: (
    base: 18px,
    ratio: 1.125
);

// ---
// Font settings
// ---

$alpha-font-family                  : 'acumin-pro', sans-serif !default;
$beta-font-family                   : 'acumin-pro-semi-condensed', serif !default;
$gamma-font-family                  : 'alverata', serif !default;

$alpha-font-size                    : ms(1) !default;

$alpha-font-weight                  : 400 !default;
$beta-font-weight                   : 500 !default;
$gamma-font-weight                  : 600 !default;
$delta-font-weight                  : 700 !default;
$jota-font-weight                   : 900 !default;

$alpha-line-height                  : 28 !default;

$alpha-leading                      : $alpha-line-height * 1.25 !default;
$beta-leading                       : $alpha-line-height * 2 !default;

// ---
// UI
// ---

$radius-lg                          : 8px !default;
$radius-md                          : 4px !default;
$radius                             : 2px !default;
$border-width                       : 1px !default;
$border-style                       : solid !default;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha                           : 1,
    beta                            : 2,
    gamma                           : 3,
    delta                           : 4,
    epsilon                         : 5
) !default;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                             : 321/16*1em,
    bp2                             : 480/16*1em,
    bp3                             : 680/16*1em,
    bp4                             : 960/16*1em,
    bp5                             : 1140/16*1em,
    bp6                             : 1440/16*1em,
    bp7                             : 1640/16*1em
) !default;

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter                     : $alpha-leading !default;

// Define the amount of columns in the grid
$columns: (
    2,
    3,
    4,
    5,
    6,
    8,
    9
) !default;

// ---
// Increments
// ---

$increments: (
    alpha                           : 0,
    beta                            : $alpha-line-height * .25,
    gamma                           : $alpha-line-height * .5,
    delta                           : $alpha-leading,
    epsilon                         : $alpha-line-height,
    zeta                            : $alpha-line-height * 1.25,
    eta                             : $beta-leading
) !default;

// ---
// Animations
// ---

$animation-duration-alpha           : .1s !default;
$animation-duration-beta            : .2s !default;
$animation-duration-gamma           : .3s !default;
$animation-easing-alpha             : ease-in-out !default;
$animation-easing-beta              : cubic-bezier(.68, -.55, .265, 1.55) !default; // bouncy

// ---
// Page
// ---

$html-font-family                   : $beta-font-family !default;
$html-font-weight                   : $alpha-font-weight !default;
$html-font-size                     : $alpha-font-size !default;
$html-line-height                   : $alpha-line-height !default;

$html-responsive-font-size          : false !default;
$html-responsive-font-breakpoint    : bp5 !default;
$html-responsive-font-magnification : 112.5% !default;

$html-background-color              : palette(color-neutral,xx-dark) !default;
$body-color                         : palette(color-neutral,xx-dark) !default;

$body-font-smoothing                : true !default;

$change-selection-color             : false !default;
$body-selection-background-color    : rgba(palette(color-alpha),.1) !default;
$body-selection-color               : $body-color !default;
$body-selection-text-shadow         : none !default;

// ---
// Typography
// ---

// set to false to hide the baseline and backround
$show-baseline: false;

$h1-font-family                     : $gamma-font-family !default;
$h1-font-weight                     : $jota-font-weight !default;
$h1-margin-bottom                   : $alpha-leading !default;

$h2-font-family                     : $gamma-font-family !default;
$h2-font-weight                     : $jota-font-weight !default;
$h2-margin-bottom                   : $alpha-leading !default;

$h3-font-family                     : $alpha-font-family !default;
$h3-font-weight                     : $gamma-font-weight !default;
$h3-margin-bottom                   : $alpha-leading !default;

$h4-font-family                     : $alpha-font-family !default;
$h4-font-weight                     : $delta-font-weight !default;
$h4-margin-bottom                   : $alpha-leading !default;

$h5-font-family                     : $alpha-font-family !default;
$h5-font-weight                     : $alpha-font-weight !default;
$h5-margin-bottom                   : $alpha-leading !default;

$h6-font-family                     : $alpha-font-family !default;
$h6-font-weight                     : $alpha-font-weight !default;
$h6-margin-bottom                   : $alpha-leading !default;

$base-font-size                     : $alpha-font-size !default;
$base-line-height                   : 1 !default;
$base-margin-bottom                 : $alpha-leading !default;
$base-indent                        : 2 !default;

$blockquote-font-style              : italic !default;
$blockquote-font-size               : ms(1) !default;
$blockquote-line-height             : 1 !default;
$blockquote-margin-bottom           : $alpha-leading !default;

$small-font-size                    : ms(-1) !default;
$small-line-height                  : 1 !default;
$small-margin-bottom                : $alpha-leading !default;

$horizontal-rule-border-width       : 1px 0 0 !default;
$horizontal-rule-border-style       : solid !default;
$horizontal-rule-border-color       : palette(color-neutral,light) !default;

$horizontal-rule-margin-top         : 0 !default;
$horizontal-rule-margin-bottom      : $alpha-leading !default;

$link-transition                    : all $animation-duration-alpha $animation-easing-alpha !default;

$link-decoration                    : none !default;
$link-decoration--hover             : underline !default;

$link-color                         : palette(color-beta,x-light) !default;
$link-color--visited                : palette(color-alpha) !default;
$link-color--hover                  : palette(color-beta,light) !default;
$link-color--focus                  : palette(color-alpha) !default;

$link-outline                       : 0 !default;
$link-outline--focus                : thin dotted !default;

// ---
// Images
// ---

$img-max-width                      : 100% !default;
$img-border                         : 0 !default;

// ---
// Forms
// ---

$fieldset-border                    : 0 !default;
$fieldset-margin-bottom             : $alpha-leading !default;

$legend-font-size                   : $alpha-font-size !default;
$legend-line-height                 : $alpha-line-height !default;
$legend-margin-bottom               : $alpha-leading !default;

$label-font-size                    : $alpha-font-size !default;
$label-line-height                  : $alpha-line-height !default;
$label-margin-bottom                : $alpha-leading !default;

$placeholder-font-family            : $alpha-font-family !default;
$placeholder-font-style             : normal !default;
$placeholder-color                  : palette(color-neutral) !default;

$firefox-inner-border-fix           : true !default;

// ---
// Tables
// ---

$table-font-family                  : $alpha-font-family !default;
$table-align                        : left !default;

$caption-font-family                : $alpha-font-family !default;
$caption-font-weight                : $beta-font-weight;
$caption-align                      : center !default;
$caption-margin-bottom              : $alpha-leading !default;
$caption-padding-bottom             : $alpha-leading !default;

// ---
// Grid
// ---

$grid-max-width                     : map-get($breakpoints,bp5) !default;
$grid-gutter                        : $columns-gutter !default;

// ---
// Media
// ---

$media-object-gutter                : $columns-gutter !default;
$media-object-margin-bottom         : $alpha-leading !default;

// ---
// Media-embed
// ---

$media-embed-ratio                  : 62.5% !default;
$media-embed-margin-bottom          : $alpha-leading !default;

// ---
// Debug
// ---

$debug-mode                         : false !default; // toggles the debug mode
