/*
    Shame
    ---
    Hacks and quick fixes
*/

html {
    position: relative;

    @if $show-baseline {
        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-image: linear-gradient(#ccc 0, transparent 1px), linear-gradient(#ccc 0, transparent 1px), linear-gradient(#ccc 0, transparent 1px), linear-gradient(#ccc 0, transparent 1px);
            background-size: 100% #{$alpha-line-height}px, 100% #{$alpha-line-height}px, 100% #{$alpha-line-height}px, 100% #{$alpha-line-height}px;
            background-position: 0 #{$alpha-line-height * .25}px, 0 #{$alpha-line-height/2}px, 0 #{$alpha-line-height * .75}px, 0 #{$alpha-line-height}px;
        }
    }
}

h1,
h2,
h3,
p,
li {
    @if $show-baseline {
        background-color: rgba(red,.1);
    }
}

.c-visual {
    display: block;
    //border: 1px solid palette(color-neutral,light);
    background-color: palette(color-neutral,xxx-light);
    @include margin-bottom($alpha-leading);

    &:hover {
        text-decoration: none;
    }
}

    .c-visual__body {
        text-align: center;
        //@include padding-tb($alpha-leading * 2,$alpha-leading);
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
        @include padding-lr($columns-gutter);
    }

    .c-visual__label {
        margin-bottom: 0;
    }

.u-max-width-sm {
    max-width: 30em;
}

.u-max-width-md {
    max-width: 36em;
}

.u-max-width-lg {
    max-width: 58em;
}

.u-max-width-xl {
    max-width: 68em;
}

.u-opacity-alpha {
    opacity: .6;
}

.u-opacity-beta {
    opacity: .7;
}

.u-opacity-gamma {
    opacity: .8;
}

.u-opacity-delta {
    opacity: .9;
}

.c-main-section {
    @include mq(bp2) {
        & + & {
            @include padding-top($alpha-leading);
        }
    }
}

.c-main-section-md {
    @include mq(bp2) {
        & + & {
            @include padding-top($alpha-leading);
        }
    }

    @include mq(bp3) {
        & + & {
            @include padding-top($alpha-leading * 2);
        }
    }
}

.c-main-section-lg {
    @include mq(bp2) {
        & + & {
            @include padding-top($alpha-leading);
        }
    }

    @include mq(bp3) {
        & + & {
            @include padding-top($alpha-leading * 3);
        }
    }
}

.c-main-section-xl {
    @include mq(bp2) {
        & + & {
            @include padding-top($alpha-leading);
        }
    }

    @include mq(bp3) {
        & + & {
            @include padding-top($alpha-leading * 3);
        }
    }

    @include mq(bp5) {
        & + & {
            @include padding-top($alpha-leading * 5);
        }
    }
}

.c-subscribe {
    position: relative;
}

.c-subscribe__button {
    position: absolute;
    top: .375rem;
    right: .375rem;
    //box-shadow: none;
    //top: .625rem;
    //right: .625rem;
    //border-top-left-radius: $radius * 4;
    //border-bottom-left-radius: $radius * 4;
}

.c-bg-marble-dark {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  url('../img/textures/15_slab_marble_marquina_black_texture-seamless.jpg') 0 0 repeat;
    //background:  url('../img/textures/19_slab_marble_black_Sienna_texture-seamless.jpg') 0 0 repeat;
    //background:  url('../img/textures/30_black_slab_marble_soap_stone_texture-seamless.jpg') 50% 50% repeat;
    background-size: 750px 750px;
    opacity: .325;
    //z-index: 1;
}

.c-bg-marble-light {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  url('../img/textures/5_slab_marble_veined_Carrara_white_texture-seamless.jpg') 50% 50% repeat;
    background-size: 750px 750px;
    opacity: .25;
    //z-index: 1;
}

.c-bg-marble-cream {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  url('../img/textures/69_slab_marble_botticino_texture-seamless.jpg') 0 0 repeat;
    //background:  url('../img/textures/28_slab_marble_cream_texture-seamless.png') 0 0 repeat;
    background-size: 500px 500px;
    opacity: .25;
    //z-index: 1;
}

.c-bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
}

.o-container {
    position: relative;
}

::-webkit-input-placeholder {
    font-family: $placeholder-font-family;
    font-style: $placeholder-font-style;
    font-weight: $alpha-font-weight;
    color: $placeholder-color;
}

::-moz-placeholder {
    font-family: $placeholder-font-family;
    font-style: $placeholder-font-style;
    font-weight: $alpha-font-weight;
    color: $placeholder-color;
}

:-ms-input-placeholder {
    font-family: $placeholder-font-family;
    font-style: $placeholder-font-style;
    font-weight: $alpha-font-weight;
    color: $placeholder-color;
}

.c-intro {
    background-color: #fff;
    //display: flex;
    //align-items: center;
    //min-height: $alpha-leading * 20rem;
    @include margin-bottom($alpha-leading);
    @include box-shadow;
}

    .c-intro__body {
        @include padding-tb($alpha-leading * 1,$alpha-leading * 0);
        @include padding-lr($columns-gutter);

        @include mq(bp2) {
            @include padding-tb($beta-leading,$alpha-leading);
            @include padding-lr($columns-gutter * 2);
        }
    }

.c-footer {
    display: flex;
    align-items: center;

    .c-logo {
        margin-left: 0;
    }
}

.c-image {
    background-size: cover;
    background-position: 50% 50%;
    @include margin-bottom($alpha-leading);
}

.c-image--lg {
    height: $alpha-line-height * 10rem;

    @include mq(bp2) {
        height: $alpha-line-height * 14rem;
    }

    @include mq(bp3) {
        height: $alpha-line-height * 24rem;
    }

    @include mq(bp5) {
        height: $alpha-line-height * 28rem;
    }
}

.c-featured {
    @include mq(bp4){
        //max-height: calc(100vh - #{$alpha-line-height * 6.75}px);
        max-height: calc(100vh - #{$alpha-line-height * 7.75}px);
        //max-height: calc(100vh - #{$alpha-line-height * 4}px);
        //max-height: calc(100vh - #{$alpha-line-height * 3.75}px);
        //max-width: calc(100vh - #{$columns-gutter * 1}px);
        //max-width: map-get($breakpoints,bp4);
    }
    //max-height: calc(100vh - #{$alpha-line-height * 4.25}px);

    //max-height: calc(100vh - #{$alpha-line-height * 6.25}px);
    //max-height: #{$alpha-leading * 30}px;
}

.c-section-lg {
    @include mq(bp3) {
        & +  & {
            @include padding-top($alpha-leading);
        }
    }
}

.c-ms-example {

    &:before {
        content: attr(data-ms);
        display: block;
        font-size: 16px;
        line-height: $alpha-line-height * 1px;
    }
}
