//
//  Tools: Mixins
//  ---
//  Custom mixins
//

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: .1em;
}

@mixin uppercase-wide {
    text-transform: uppercase;
    letter-spacing: .2em;
}

@mixin box-shadow {
    box-shadow: 0 5px 15px rgba(palette(color-neutral,xxx-dark),.1);
}
