---
layout: default
title: Homepage
section: home
---

<div class="c-row c-row--intro c-row--alpha">
    <div class="o-container">
        <div class="u-max-width-md">
            <h1>Mylène on tour</h1>
            <p class="u-mb-zeta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sunt obcaecati maiores dolore, sint laborum.</p>
            <p>
                <a href="#!" class="c-button c-button--lg c-button--alpha">Bekijk dit</a>
            </p>
        </div>
    </div>
</div>
<div class="c-row c-row--alpha">
    <div class="o-container">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-1-of-2-bp3">
                <a href="homeparty" class="c-visual">
                    <div class="c-visual__body">
                        <p class="c-visual__label">visual</p>
                        <h2 class="c-visual__title">Organiseer een homeparty</h2>
                    </div>
                </a>
            </div>
            <div class="o-grid__item u-1-of-2-bp3">
                <a href="#!" class="c-visual">
                    <div class="c-visual__body">
                        <p class="c-visual__label">visual</p>
                        <h2 class="c-visual__title">Wordt Mylene consulente</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="c-row c-row--lg c-row--alpha">
    <div class="o-container">
        {% include atom.quote.html text="Nooit gedacht dat mijn eigen zaak starten zo eenvoudig kon zijn" name="Julie Naessens" meta="Nu 5 jaar consulente" %}
    </div>
</div>
<div class="c-row c-row--lg c-row--alpha">
    <div class="o-container">
        <div class="c-main-section-lg">
            <h2 class="u-text-center">Laatste blogberichten</h2>
        </div>
        <div class="c-main-section-lg">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
                {% for item in site.data.posts limit:3 %}
                    {% include atom.blog-article.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="c-row c-row--lg c-row--alpha">
    <div class="o-container">
        <div class="u-max-width-md u-align-horizontal">
            {% include components.subscribe.html %}
        </div>
    </div>
</div>
