---
layout: collage
title: Element Collage
section: home
---
<header class="c-row c-row--alpha">
    <div class="o-container u-text-center">
        {% include components.logo.html %}
    </div>
</header>
<section class="c-row c-row--clear c-row--alpha">
    <div class="o-container">
        <div class="c-featured">
            <a href="#!" class="c-arrow c-arrow--prev">
                <svg class="c-arrow__symbol"><use xlink:href="img/svg/symbol-defs.svg#icon-arrow_forward"></use></svg>
            </a>
            <p class="c-featured__picture">
                <img class="c-featured__image js-blazy" src="img/jpg/EuropaJupiter_Voyager_960.jpg" data-src="img/jpg/EuropaJupiter_Voyager_960.jpg" alt="">
            </p>
            <a href="#!" class="c-arrow c-arrow--next is-inactive">
                <svg class="c-arrow__symbol"><use xlink:href="img/svg/symbol-defs.svg#icon-arrow_forward"></use></svg>
            </a>
        </div>
    </div>
</section>
<main class="c-row c-row--alpha">
    <div class="o-container">
        <div class="c-main-section-lg">
            <div class="u-max-width-md u-align-horizontal">
                <div class="c-section-lg">
                    <div class="u-text-center">
                        <h2 class="u-color-neutral-xxxx-dark u-mb-alpha">
                            Europa and Jupiter from Voyager 1
                        </h2>
                        <p class="u-ms-2 u-color-neutral-base">
                            2017 September 5
                        </p>
                    </div>

                    <div class="s-content">
                        <p>
                            What powers the Heart Nebula?

                            The large <a href="emission_nebulae.html">emission nebula</a> dubbed
                            <a href="ap040917.html">IC 1805</a> looks, in whole, like a <a href="https://en.wikipedia.org/wiki/Heart_(symbol)">heart</a>.

                            The nebula's glow -- as well as the shape of the gas and dust clouds -- is powered by
                            by stellar
                            <a href="https://solarscience.msfc.nasa.gov/SolarWind.shtml">wind</a>s and <a href="https://www.nasa.gov/audience/foreducators/postsecondary/features/F_Understanding_Space_Radiation.html">radiation</a> from
                            massive hot stars in the nebula's newborn star cluster
                            <a href="ap131227.html">Melotte 15</a>.

                            This deep telescopic image maps the pervasive light of narrow
                            <a href="https://heasarc.gsfc.nasa.gov/docs/xte/learning_center/xray_techl.html">emission lines</a> from atoms of
                            <a href="http://periodic.lanl.gov/1.shtml">hydrogen</a>,
                            <a href="https://en.wikipedia.org/wiki/Oxygen">oxygen</a>, and
                            <a href="https://www.livescience.com/28939-sulfur.html">sulfur</a>
                            in the nebula.

                            The field of view spans just over two
                            <a href="https://mathwithbaddrawings.com/2013/05/02/degrees-vs-radians/">degrees</a> on the sky,
                            so that it appears larger than four times the diameter of a full moon.

                            The cosmic heart is found in the constellation of
                            <a href="http://en.wikipedia.org/wiki/&#10;Cassiopeia_%28constellation%29">Cassiopeia</a>, the boastful
                            <a href="http://www.pantheon.org/articles/c/cassiopeia.html">mythical Queen</a> of
                            <a href="http://en.wikipedia.org/wiki/Aethiopia">Aethiopia</a> .

                        </p>
                        {% comment %}
                        <p>

                            This image of Saturn could not have been taken from Earth.

                            No <a href="ap000701.html">Earth</a> based picture could possibly view the night side of
                            <a href="http://en.wikipedia.org/wiki/Saturn">Saturn</a> and the corresponding
                            <a href="ap061016.html">shadow</a> cast across Saturn's rings.

                            Since Earth is much closer to the Sun than
                            <a href="http://www.planetary.org/blogs/emily-lakdawalla/2013/10161711-saturn-mosaic-gordan.html">Saturn</a>, only the day side of the
                            <a href="http://www.slate.com/blogs/bad_astronomy/2013/10/17/cassini_s_saturn_incredible_mosaic_by_gordon_ugarkovic.html">ringed planet</a> is visible from the
                            <a href="ap130723.html">Earth</a>.

                            In fact,
                            <a href="http://www.planetary.org/multimedia/space-images/saturn/saturn-within-its-rings.html">this image mosaic</a> was taken earlier this month by the robotic
                            <a href="http://saturn.jpl.nasa.gov/spacecraft/">Cassini spacecraft</a> now orbiting Saturn.

                            The beautiful rings of Saturn are seen in full expanse, while
                            <a href="ap051010.html">cloud details</a> are visible including the
                            <a href="ap130220.html">polar hexagon</a> surrounding the north pole, and an
                            <a href="ap110119.html">extended light-colored storm</a> system.

                        </p>
                        {% endcomment %}
                    </div>


                </div>

            </div>
        </div>
    </div>
</main>
<div class="c-row c-row--lg c-row--alpha">
    <div class="o-container">
        <h3>
            Flexbox Grid test
        </h3>
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-baseline u-mb-delta-neg">
            {% for item in site.data.posts %}
                {% include atom.blog-article.html %}
            {% endfor %}
        </div>
    </div>
</div>
{% comment %}
<div class="c-row c-row--lg c-row--alpha">
    <div class="o-container">
        <div class="u-max-width-md u-align-horizontal s-content">
            <h1 class="u-ms4 u-ms6-bp3">
                Discover the cosmos!
            </h1>
            <p>
                Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer.
            </p>
            <p>
                Submit an image
            </p>
        </div>
    </div>
</div>
<div class="c-row c-row--lg c-row--alpha">
    <div class="o-container">
        {% include atoms.colors.html %}
    </div>
</div>

<div class="c-row c-row--xl c-row--alpha">
    <div class="o-container">
        {% include elements.ms.html %}
    </div>
</div>
{% endcomment %}
