<div class="c-quote">
    <p class="c-quote__text">
        {{ include.text }}
    </p>
    <div class="c-quote__author">
        <img class="c-quote__avatar" src="/img/jpg/dame1.jpg" alt="">
        <div class="c-quote__author-body">
            <h3 class="c-quote__name u-color-neutral-xxx-dark">
                {{ include.name }}
            </h3>
            <p class="c-quote__meta u-ms-1 u-color-neutral-base">
                {{ include.meta }}
            </p>
        </div>
    </div>
</div>
