<article class="o-grid__item u-1-of-3-bp4 o-flex">
    <div class="c-media">
        <a class="c-media__image-link" href="#!" title="{{ item.title }}">
            <div class="c-media__image" style="background-image: url('{{ item.image }}')">
            </div>
        </a>
        <div class="c-media__body">
            <p class="c-media__meta u-ms-1 u-color-neutral-base">
                {{ item.date }}
            </p>
            <div class="c-media__content">
                <h2 class="c-media__title u-ms1">
                    <a href="#!">{{ item.title }}</a>
                </h2>
                <p>
                    {{ item.text }}
                </p>
            </div>
        </div>
    </div>
</article>
