<div class="c-main-section-lg u-mb-delta-neg">
    <h3 class="c-type-header-wide u-ms-1 u-color-neutral-light u-mb-eta">Colors</h3>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-alpha-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-alpha-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-alpha-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-alpha-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-alpha-base"></div>
        </div>
    </div>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-beta-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-beta-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-beta-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-beta-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-beta-base"></div>
        </div>
    </div>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-gamma-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-gamma-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-gamma-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-gamma-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-gamma-base"></div>
        </div>
    </div>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-delta-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-delta-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-delta-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-delta-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-delta-base"></div>
        </div>
    </div>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-epsilon-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-epsilon-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-epsilon-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-epsilon-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-epsilon-base"></div>
        </div>
    </div>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-jota-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-jota-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-jota-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-jota-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-jota-base"></div>
        </div>
    </div>
    <div class="o-grid">
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-xxx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-x-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-light"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-base"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-dark"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-x-dark"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-xx-dark"></div>
        </div>
        <div class="o-grid__item u-1-of-3 u-1-of-4-bp4 u-1-of-9-bp5">
            <div class="c-swatch u-bgcolor-neutral-xxx-dark"></div>
        </div>
    </div>
</div>
<div class="c-main-section-lg u-mb-delta-neg">
    <h3 class="c-type-header-wide u-ms-1 u-color-neutral-light u-mb-eta">Gradients</h3>
    <div class="o-grid o-grid--gutter">
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--gradient u-gradient-bg-1"></div>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--gradient u-gradient-bg-2"></div>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--gradient u-gradient-bg-3"></div>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--gradient u-gradient-bg-4"></div>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--gradient u-gradient-bg-5"></div>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--gradient u-gradient-bg-6"></div>
        </div>
    </div>
</div>
<div class="c-main-section-lg u-mb-delta-neg">
    <h3 class="c-type-header-wide u-ms-1 u-color-neutral-light u-mb-eta">Textures</h3>
    <div class="o-grid o-grid--gutter">
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--texture u-bgcolor-neutral-xxxx-light">
                <div class="c-bg-marble-light"></div>
            </div>
        </div>
        <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4">
            <div class="c-swatch c-swatch--texture u-bgcolor-neutral-xxxx-dark">
                <div class="c-bg-marble-dark"></div>
            </div>
        </div>
    </div>
</div>
