<!-- <nav class="c-nav-lang">
    <ul class="o-list c-nav-lang__list">
        <li class="c-nav-lang__item is-selected">
            <a href="#!" class="c-nav-lang__link">Nl</a>
        </li>
        <li class="c-nav-lang__item">
            <a href="#!" class="c-nav-lang__link">Fr</a>
        </li>
        <li class="c-nav-lang__item">
            <a href="#!" class="c-nav-lang__link">En</a>
        </li>
    </ul>
</nav> -->
<p class="c-nav-lang">
    <a class="c-nav-lang__link" href="#!">Nederlands</a>
</p>
