<h3 class="c-type-header-wide u-ms-1 u-color-neutral-light">
    Buttons
</h3>
<div class="c-button-group">
    <p>
        <a class="c-button c-button--beta c-button--scale c-button--lg" href="#!" role="button">Click me</a>
    </p>
    <p>
        <a class="c-button c-button--gamma c-button--scale c-button--lg" href="#!" role="button">Hover me</a>
    </p>
    <p>
        <a class="c-button c-button--delta c-button--scale c-button--lg" href="#!" role="button">Touch me</a>
    </p>
</div>
<h3 class="c-type-header-wide u-ms-1 u-color-neutral-light">
    Negative buttons
</h3>
<div class="c-button-group">
    <p>
        <a class="c-button c-button--beta-negative c-button--box-shadow c-button--scale c-button--lg" href="#!" role="button">Click me</a>
    </p>
    <p>
        <a class="c-button c-button--gamma-negative c-button--box-shadow c-button--scale c-button--lg" href="#!" role="button">Hover me</a>
    </p>
    <p>
        <a class="c-button c-button--delta-negative c-button--box-shadow c-button--scale c-button--lg" href="#!" role="button">Touch me</a>
    </p>
</div>
