<h3 class="c-type-header-wide u-ms-1 u-color-neutral-light">
    Buttons
</h3>
<div class="c-button-group">
    <p>
        <a class="c-button c-button--gradient c-button--gradient-1 c-button--scale c-button--lg" href="#!" role="button"><span>Click me</span></a>
    </p>
    <p>
        <a class="c-button c-button--gradient c-button--gradient-4 c-button--scale c-button--lg" href="#!" role="button"><span>Touch me</span></a>
    </p>
    <p>
        <a class="c-button c-button--gradient c-button--gradient-2 c-button--scale c-button--lg" href="#!" role="button"><span>Hover me</span></a>
    </p>
    <p>
        <a class="c-button c-button--gradient c-button--gradient-3 c-button--scale c-button--lg" href="#!" role="button"><span>Touch me</span></a>
    </p>
</div>
