<footer class="c-row c-row--lg c-row--beta">
    <div class="o-container">
        <div class="c-main-section">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-4-bp4">
                    <h4>
                        Mylène
                    </h4>
                    <p>
                        Liersesteenweg 203 <br>
                        B-2220 Heist-op-den-Berg <br>
                        015 24 47 80 <br>
                        <a href="mailto:info@mylene.eu">info@mylene.eu</a>
                    </p>
                </div>
                <div class="o-grid__item u-1-of-4-bp4">
                    <h4>
                        Klantenservice
                    </h4>
                    <ul class="o-list">
                        <li><a href="#!">Klantenservice</a></li>
                        <li><a href="#!">Ruilen &amp; retour</a></li>
                        <li><a href="#!">Levering</a></li>
                        <li><a href="#!">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="c-main-section">
            <div class="o-grid">
                <div class="o-grid__item">
                    <p>Copyright 2017 {{ site.title }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
