<p class="u-ms12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
<p class="u-ms-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex fuga cupiditate quae ea officia optio minus voluptates provident molestiae.</p>
